[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mupen64plus-gui-sailfishos
Exec=harbour-mupen64plus-gui-sailfishos
Name=mupen64plus
